{% extends 'main.html' %}


{% block content %}

<div class="container mt-5">
    <div class="d-flex align-items-center mb-4">
        <!-- Back Button with Icon -->
        <!-- <a href="javascript:history.back()" class="btn btn-link me-3 back">
            <i class="bi bi-arrow-left"></i>
        </a> -->
        <a href="javascript:history.back()" class="btn btn-link me-3 back">
            <i class="bi bi-arrow-left"></i>
        </a>
        
        <h2>Student Details</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ student.name }}</h5>
            <p><strong>Roll Number:</strong> {{ student.roll }}</p>
            <p><strong>Course:</strong> {{ student.course }}</p>
            <p><strong>Address:</strong> {{ student.address }}</p>
        </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'update' student.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'delete' student.id %}" class="btn btn-primary">Delete</a>
    </div>
</div>

{% endblock content %}