
    <header class="header" id="header" style="background-color: rgb(225, 225, 249);">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <!-- <div class="header_img">image</div> -->
        <div class="header_search">
            <!-- Search Form -->
            <form action="{% url 'home' %}" method="GET" class="d-flex">
                <input type="text" name="q" class="form-control" placeholder="Search..." style="width: 200px;" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-primary ms-2">Search</button>
            </form>
        </div>
        
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="{% url 'home' %}" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Student Management</span> </a>
                <!-- <div class="nav_list"> <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name"></span> </a> -->
                 <a href="{% url 'home' %}" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Students</span> </a>
                <a href="{% url 'contact' %}" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Contact</span> </a>
                <!-- <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a> <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a>  -->
                <a href="{% url 'about' %}" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">About</span> </a> </div>
            </div>
             <!-- <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a> -->
        </nav>
    </div>
   